<% content.title = "New Blog Post" %>
<h1>Write a New Blog Post</h1>
<form action="/blog" method="POST">
  <p>
    <label for="title">Blog Post Title:</label>
    <input name="title" type="text" />
  </p>
  <p>
    <label for="postContent">Post Content:</label><br />
    <textarea rows="20" cols="50" name="postContent" id="postContent"></textarea>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>
<hr />
<p>
  <h3>Add Inline Code Snippet to Post Content</h3>
  <label for="createInlineCode">Code:</label><br />
  <textarea rows="8" cols="50" id="createInlineCode"></textarea><br />
  <label for="programmingLangSelect">Programming Language:</label><br />
  <select id="programmingLangSelect">
    <option value="markup">Markup</option>
    <option value="css">CSS</option>
    <option value="clike">C-like</option>
    <option value="javascript">JavaScript</option>
    <option value="aspnet">ASP.NET</option>
    <option value="c">C</option>
    <option value="csharp">C#</option>
    <option value="cpp">C++</option>
    <option value="objectivec">Objective-C</option>
    <option value="perl">Perl</option>
    <option value="php">PHP</option>
    <option value="python">Python</option>
    <option value="ruby">Ruby</option>
    <option value="sql">SQL</option>
  </select><br />
  <label for="codeStyle">Code Presentation Style:</label><br />
  <select id="codeStyle">
    <option value="CodeBlock">Code Block</option>
    <option value="Inline">Inline</option>
  </select><br />
  <button type="button" id="addInlineCodeButton">Add</button>
</p>
<p>
  <strong>How to add a code snippet:</strong><br />
  1. Copy or write your code in the Code text box.<br />
  2. Specify the programming language. Specify formatting (code block or inline).<br />
  3. Press the "Add" button, and wait for the magic!<br />
  4. Your code will be wrapped in the appropriate HTML, and added to the "Post Content" composition text box.<br />
  5. Your blog post will then contain PROPER SYNTAX HIGHLIGHTING! Rejoice, all the children of the world.<br />
</p>
